/* import web font */
@font-face {
    font-family: 'orelega_oneregular';
    src: url('orelegaone-regular-webfont.woff2') format('woff2'),
         url('orelegaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* display features */
/* @media screen and (min-width: 300) { */
body {
  background-color: #ffb6c1;
  font-size: 12px;
}
p {
  display: block;
  border-width: 2px;
  border-color: black;
  margin: 1cm;
}
h2 {
  font-family: 'orelega_oneregular';
  display: inline;
  color: #e75480;
}
/*}*/
